<div class="login-page">
	<div class="title-info wow fadeInUp animated animated"
		data-wow-delay=".5s"
		style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
		<h3 class="title">
			Register<span> Form</span>
		</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit
			curabitur</p>
	</div>
	<div class="widget-shadow">
		<div class="login-top wow fadeInUp animated animated"
			data-wow-delay=".7s"
			style="visibility: visible; animation-delay: 0.7s; animation-name: fadeInUp;">
			<h4>
				Already have an Account ?<a href="signin.html"> Sign In »</a>
			</h4>
		</div>
		<div class="login-body">
			<form class="wow fadeInUp animated animated" data-wow-delay=".7s"
				style="visibility: visible; animation-delay: 0.7s; animation-name: fadeInUp;">
				<input type="text" placeholder="First Name" required=""> <input
					type="text" placeholder="Last Name" required=""> <input
					type="text" class="email" placeholder="Email Address" required="">
				<input type="password" name="password" class="lock"
					placeholder="Password"> <input type="submit"
					name="Register" value="Register">
			</form>
		</div>
	</div>
</div>